<h1>{{title}}</h1>
<h2>My Contacts</h2>
<div class="row">
    <div class="col-md-12">
        <div class="error" *ngIf="error">{{error}}</div>
        <div class="pull-right">
            <button class="btn btn-success" (click)="addContact()">Add New Contact</button>
        </div>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                   
                    <th>Name</th>
                     <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of Contacts" [class.active]="contact === selectedContact" (click)="onSelect(contact)">
                   
                    <td>{{contact.name}}</td>
                     <td>{{contact.address1}}</td>
                    <td><button class="btn btn-danger" (click)="deleteContact(contact, $event)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div *ngIf="selectedContact">
            <h2>
                {{selectedContact.name | uppercase}} is my contact
            </h2>
            <button class="btn btn-primary" (click)="gotoDetail()">View Details</button>
        </div>
    </div>
    <search></search>
</div>