<h3>Contacts</h3>
<div class="row">
    <div *ngFor="let contact of Contacts" (click)="gotoDetail(contact)" class="col-md-3">
        <div class="module contact">
            <h4>{{contact.name | uppercase }}</h4>
        </div>
    </div>
</div>

<h3>Estimates</h3>
<div class="row">
    <div *ngFor="let estimate of Estimates" (click)="gotoDetail(estimate)" class="col-md-3">
        <div class="module estimate">
            <h4>{{estimate.itemName | uppercase }}</h4>
        </div>
    </div>
</div>